.about-left{
    flex-basis: 40%;
    position: relative;
}

.about-right{
    flex-basis: 56%;
}

.play-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 5px;
    

}